body {
  color: #222222;
  font-size: 1em;
  margin: 0px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

section {
  padding-bottom: 20px;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  background-image: url("../img/code.jpg");
  margin: 0px;
  min-height: 60vh;
  height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.holder>img {
  opacity: 0.8;
}

.cursor-anim {
  border-right: 3px solid white;
  display: inline;
}

.cursor-toggle {
  padding-right: 3px;
  display: inline;
}

@media (max-width: 600px) {
  .details {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }

  .quote {
    width: 70%;
    border-right: #222222 solid 1px;
    border-left: #222222 solid 1px;
    text-align: center;
    background-color: #e9ecf0;
  }

  .masthead-intro {
    margin: 0.1em;
    font-size: 12vw;
    color: #ffffff;
  }

  .masthead-heading {
    margin: -0.2em;
    font-weight: bold;
    font-size: 12vw;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  .masthead {
    background-image: url("../img/code.jpg");
    margin: 0px;
    background-size: auto;
    min-height: 60vh;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1100px) {
  .holder {
    height: 400px;
    width: 100%;
    padding: 20px;
  }

  .holder>img {
    max-height: 90%;
    width: auto;
  }
}

@media (max-width: 1100px) {
  .holder>img {
    display: none;
  }
}

@media (min-width: 600px) {
  .details {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: #ffffff;
  }

  .quote {
    width: 50%;
    border-right: #222222 solid 1px;
    border-left: #222222 solid 1px;
    text-align: center;
  }

  .masthead {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .masthead-intro {
    margin: 0.1em;
    font-size: 2em;
    color: #ffffff;
  }

  .masthead-heading {
    margin: -0.2em;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
}

.detailsP {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.details>h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}

#footer {
  padding: 10px 0;
  text-align: center;
  background-color: #111111;
  opacity: 0;
}

#footer a {
  color: #ffffff;
  text-decoration: none;
}

.social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.social>li {
  display: inline-block;
  margin: 0 5px;
}

.show {
  opacity: 1;
  transition: opacity 2s 2s;
}